log/*
agent/*
config/*
cache/*

.vscode/
.vs/
*.log
*.pfx
*.dll
*.DS_Store

# JEA
RoleCapabilities/IcingaForWindows.psrc
IcingaForWindows.pssc
IcingaForWindowsTest.pssc

!cache/README.md
!cache/framework_cache.psm1
